@model ConnectedDropDowns_MVC5.Models.DropViewModel
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.CityName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CityName, Model.Cities, "Select City", new { @class = "form-control" })
        </div>
        @Html.TextBoxFor(m => m.StateName, new { @value = Model.StateName, hidden = "hidden" })
    </div>
</div>